.li {
    list-style: none;
    align-items: center;
    cursor: pointer;
    font-weight: 800;
    font-size: theme('fontSize.4xl');
}

.li:not(:last-child) {
    margin-bottom: theme('spacing.2');
}
