.imageWrapper {
    height: 63px;
    width: 63px;
    border-radius: 9999px;
    border-width: 1px;
    border-style: solid;
    padding: 5px;
}

:global(html.dark) .imageWrapper {
    background-color: #000000;
    border-color: #ffffff;
}

:global(html:not(.dark)) .imageWrapper {
    background-color: #000000;
    border-color: #000000;
}
