.heading1 {
    font-weight: 700;
}

.line1,
.line2 {
    display: block;
    line-height: 1;
}

.line1 {
    text-align: left;
}

.line2 {
    text-align: right;
}

.arabicLine1,
.arabicLine2 {
    font-size: 100px;
}

.chineseLine1,
.chineseLine2 {
    font-size: 100px;
}

.englishLine1,
.englishLine2 {
    font-size: 100px;
}

.germanLine1,
.germanLine2 {
    font-size: 50px;
}

.khmerLine1,
.khmerLine2 {
    font-size: 65px;
}

.spanishLine1,
.spanishLine2 {
    font-size: 55px;
}

@media screen and (min-width: theme('screens.lg')) {
    .heading1 {
        line-height: 1;
    }

    .englishHeading1 {
        font-size: 200px;
    }
}
