.marketEntityListSection {
    padding-bottom: theme('spacing.12');
    margin-bottom: theme('spacing.12');
}

:global(html.dark) .marketEntityListSection {
    background-color: rgba(248, 248, 248, 0.09);
}

:global(html:not(.dark)) .marketEntityListSection {
    background-color: rgba(248, 248, 248, 1);
}
