.input {
    border-radius: 13px;
    height: 69px;
    font-size: 33px;
    font-weight: 800;
    padding-left: theme('spacing.8');
    padding-right: theme('spacing.8');
}

.input:focus {
    outline: none;
}

:global(html.dark) .input {
    background-color: rgba(255, 255, 255, 0.12);
    color: #b3b3b3;
}

:global(html.dark) .input::placeholder {
    color: #b3b3b3;
}

:global(html:not(.dark)) .input {
    background-color: #ffffff;
    color: #000000;
}

:global(html:not(.dark)) .input::placeholder {
    color: #b3b3b3;
}

@media screen and (min-width: theme('screens.xl')) {
    .input {
        border-radius: 20px;
        height: 119px;
        font-size: 55px;
    }
}
