.header {
    position: relative;
    z-index: 99;
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    padding-right: theme('spacing.3');
}

@media screen and (min-width: theme('screens.xl')) {
    .header {
        max-width: theme('maxWidth.site');
        margin-left: auto;
        margin-right: auto;
    }
}
