.footer {
    padding-left: theme('spacing.6');
    padding-right: theme('spacing.6');
    padding-top: theme('spacing.12');
    padding-bottom: theme('spacing.12');
}

.email {
    font-size: 2.0625rem;
    font-weight: 700;
}

.footer > :global(*:not(:last-child)) {
    margin-bottom: theme('spacing.6');
}

@media screen and (min-width: theme('screens.xl')) {
    .footer {
        max-width: theme('maxWidth.site');
        margin-left: auto;
        margin-right: auto;
        padding-top: theme('spacing.24');
        padding-bottom: theme('spacing.24');
    }

    .email {
        font-size: 3.4375rem;
    }
}
