.input {
    height: 64px;
    font-size: 2.0625rem;
    font-weight: 800;
    padding-top: theme('spacing.3');
    padding-bottom: theme('spacing.3');
    padding-left: theme('spacing.5');
    padding-right: theme('spacing.5');
    max-width: 100%;
    width: 100%;
    border-width: 5px;
    border-style: solid;
}

.input:focus {
    border-color: #054bff;
    outline: none;
}

.input.invalid:not(:focus) {
    border-color: #ff0000;
}

:global(html:not(.dark)) .input {
    background-color: #f5f5f5;
    color: #000000;
}

:global(html:not(.dark)) .input:not(:focus):not(.invalid) {
    border-color: #f5f5f5;
}

:global(html.dark) .input {
    background-color: #1f1f1f;
    color: #b3b3b3;
}

:global(html.dark) .input:not(:focus):not(.invalid) {
    border-color: #1f1f1f;
}

:global(html.dark) .input::placeholder {
    color: #4c4c4c;
}

:global(html:not(.dark)) .input::placeholder {
    color: #bababa;
}
