:global(html.dark) .blackBrandLogo {
    display: none;
}

:global(html:not(.dark)) .blackBrandLogo {
    display: block;
}

:global(html.dark) .whiteBrandLogo {
    display: block;
}

:global(html:not(.dark)) .whiteBrandLogo {
    display: none;
}
