.header {
    position: relative;
    z-index: 99;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: theme('spacing.6');
    padding-left: theme('spacing.6');
    padding-right: theme('spacing.6');
}

.header > .logoAndThemeSwitcher {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header > .logoAndThemeSwitcher > .logoContainer {
    margin-right: theme('spacing.4');
}

@media screen and (min-width: theme('screens.xl')) {
    .header {
        max-width: theme('maxWidth.site');
        margin-left: auto;
        margin-right: auto;
    }
}
