.header {
    position: relative;
    z-index: 99;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: theme('spacing.6');
    padding-left: theme('spacing.6');
    padding-right: theme('spacing.6');
}

.logoAndThemeSwitcher {
    display: flex;
    align-items: center;
}

.logoAndThemeSwitcher > .logoContainer {
    margin-right: theme('spacing.6');
}

.authAndMainNavigation > .authNavigationContainer {
    display: none;
}

@media screen and (min-width: theme('screens.md')) {
    .authAndMainNavigation {
        display: flex;
        align-items: center;
    }

    .authAndMainNavigation > .authNavigationContainer {
        display: block;
        margin-right: theme('spacing.6');
    }
}

@media screen and (min-width: theme('screens.xl')) {
    .header {
        max-width: theme('maxWidth.site');
        margin-left: auto;
        margin-right: auto;
    }
}
